# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Env
.env
.venv/
venv/
env/

# OS
.DS_Store

# Logs
*.log

# Qdrant local storage (optional)
qdrant_data/

# Jupyter
.ipynb_checkpoints/

